.menu {
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 4;
  --largura-da-pagina: 200px;
  --altura-da-pagina: 400px;
}

.menu-ancora {
  position: absolute;
  top: 0px;
  left: 15px;
  transition: left 0.5s;
}

.menu-ancora.fechado {
  left: calc(var(--largura-da-pagina) * -1 - 30px);
}

.menu-quadro {
  position: absolute;
  top: 0px;
  left: 0px;
  height: var(--altura-da-pagina);
  width: var(--largura-da-pagina);
  padding: 15px;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transform: left 0.5s;
}

.menu-paginas-ancora {
  position: relative;
  left: 0px;
  display: flex;
  transition: left 0.5s;
}

.menu-paginas-ancora.pagina-2 {
  left: calc(var(--largura-da-pagina) * -1 - 15px);
}

.menu-paginas-ancora.pagina-3 {
  left: calc(var(--largura-da-pagina) * -2 - 30px);
}

.menu-pagina {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(var(--largura-da-pagina) + 15px);
  min-height: calc(var(--altura-da-pagina) - 1.75rem - 5px);
  transform: left 0.5s;
}

.menu-toggle {
  position: absolute;
  top: 8px;
  left: calc(var(--largura-da-pagina) + 30px);
  border-radius: 0 8px 8px 0;
  border-style: none;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: left 0.5s;
  transition-delay: 0.3s;
  width: 38px;
  height: 38px;
}

.menu-toggle:hover {
  cursor: pointer;
}

.menu-toggle.fechado {
  left: 150px;
}

.menu-navegacao {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.menu-navegacao button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 5px 0px;
}

.menu-navegacao img {
  width: 18px;
}

.menu-navegacao p {
  padding: 0px 3px;
}

.menu-navegacao button:hover {
  cursor: pointer;
}

.menu-btn {
  font-family: Oswald, monospace;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0px 10px;
  background-color: transparent;
  border: none;
  color: #8c8c8c;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn.ativo {
  font-family: Oswald, monospace;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0px;
  padding: 0px 10px;
  background-color: #fcd2eb;
  border: none;
  border-radius: 3px;
  color: #1a1a1a;
}

.list-item {
  list-style-type: none;
}
