.controle-ancora {
  position: absolute;
  left: 50vw;
  top: var(--altura-da-janela);
  z-index: 5;
}

.controle-grafico {
  position: absolute;
  top: -55px;
  left: -105px;
  width: 100px;
  height: 40px;
  display: flex;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.controle-disciplina {
  position: absolute;
  top: -55px;
  left: 5px;
  width: 100px;
  height: 40px;
  display: flex;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.controle-mostrar-tags {
  position: absolute;
  top: -55px;
  left: -165px;
  width: 50px;
  height: 40px;
  display: flex;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.controle-btn {
  flex-grow: 6;
  background-color: #ffffff;
  border: none;
  font-family: Oswald, monospace;
  font-weight: 400;
  font-size: 1.1rem;
  color: #1a1a1a;
}

.controle-btn:hover {
  cursor: pointer;
}

.controle-btn.esquerda {
  border-radius: 8px 0px 0px 8px;
  border-right: 1px solid #e0e0e0;
}

.controle-btn.esquerda.ativo {
  background-color: #fcd2eb;
}

.controle-btn.direita {
  border-radius: 0px 8px 8px 0px;
}

.controle-btn.direita.ativo {
  background-color: #fcd2eb;
}

.controle-btn.unico {
  border-radius: 8px;
}

.controle-btn.unico.ativo {
  background-color: #fcd2eb;
}

.controle-btn img {
  width: 40px;
}

/* @media (max-width: 768px) {
  .controle-ancora {
    top: 0px;
  }

  .controle-grafico {
    top: 15px;
  }

  .controle-disciplina {
    top: 15px;
  }
} */
